{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block background %}{% endblock %}
{% block body %}

<center>

    <h2><font color="#366092">Category Master View</font></h2>

    <form name="frm" action="" method="post">
            {% csrf_token %}
            <div class='container'>
        <table class="table table-striped table-bordered">
            <thead>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
            </thead>
            <tbody>
        {% for c in category_list %}
        <tr class="info ">
            <td>{{ c.id }}</td>
            <td>{{ c.category_name }}</td>
            <td><a  class="btn btn-danger" href="../admin_category_master_delete?id={{c.id}}">Delete</a></td>
        </tr>
        {% endfor %}
            </tbody>
        </table>
		{{msg}}
        <br/>
        <a class="btn btn-info" href="{% url 'admin_category_master_add' %}">Add Category</a>
    </div>
    </form>
</center>
{% endblock %}