{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block title %}Staff Add{% endblock %}
{% block body %}
<center>
    <h2><font color="#366092">Staff Add</font></h2>
<div class="container">
    <form role="form" name="frm" action="{% url 'admin_staff_user_add' %}" method="post">
            {% csrf_token %}
        <div class="form-group">
            <label for="uname">Name</label>
            <input class="form-control" type="text"  id="uname" name="uname" placeholder="Enter user name" required="required">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input  class="form-control" type="password"  id="password" name="password" placeholder="Enter password" required="required">
        </div>
            <button type="submit" class="btn btn-info" id="bt" name="bt">Add</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>
            {{msg}}
    </form>
</div>
</center>
{% endblock %}