{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block background %}{% endblock %}
{% block body %}
<center>

    <h2><font color="#366092">Location Master View</font></h2>

    <form name="frm" action="" method="post">
            {% csrf_token %}
        <table class="table table-striped table-bordered">
            <thead>
        <tr>
            <th>ID</th>
            <th>Location</th>
            <th>Address</th>
            <th>Lat/Lng</th>
            <th>Radius</th>
            <th>Remarks</th>
            <th>Action</th>
        </tr>
            </thead>
            <tbody>
        {% for l in location_list %}
        <tr class="info ">
            <td>{{ l.id }}</td>
            <td>{{ l.loc_name }}</td>
            <td>{{ l.addr1 }},{{ l.addr2 }},{{ l.addr3 }},{{ l.pin }}</td>
            <td>{{ l.lat }}/{{ l.lng }}</td>
            <td>{{ l.radius }}</td>
            <td>{{ l.remarks }}</td>
            <td><a class="nav-link" href="../admin_location_master_delete?id={{l.id}}">Delete</a></td>
        </tr>
        {% endfor %}
            </tbody>
        </table>
        <br/>
        <a href="{% url 'admin_location_master_add' %}">Add Location</a>
        {{msg}}
    </form>
</center>
{% endblock %}